In [1]:
import pandas as pd
import networkx as nx
import matplotlib as plt
import cfbd

In [2]:
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = 'YJ5gLZjtsR9KtIihcsBr50B+fdpMMkb2vPwmN+NSP1H8Iyf1a4x8d+LdBPe3CAHl'
configuration.api_key_prefix['Authorization'] = 'Bearer'

In [3]:
api_instance = cfbd.GamesApi(cfbd.ApiClient(configuration))
games = api_instance.get_games(year=2022, conference='SEC')
games_df = pd.DataFrame(games)
games_df

                                                     0
0    {'attendance': None,\n 'away_conference': 'SEC...
1    {'attendance': None,\n 'away_conference': 'Mid...
2    {'attendance': None,\n 'away_conference': 'Con...
3    {'attendance': None,\n 'away_conference': 'Wes...
4    {'attendance': None,\n 'away_conference': 'Ame...
..                                                 ...
108  {'attendance': None,\n 'away_conference': 'ACC...
109  {'attendance': None,\n 'away_conference': 'SEC...
110  {'attendance': None,\n 'away_conference': 'SEC...
111  {'attendance': None,\n 'away_conference': 'SEC...
112  {'attendance': None,\n 'away_conference': 'SEC...

[113 rows x 1 columns]

In [4]:
graph = nx.Graph()

In [5]:
teams = []
for k in games:
    home_team = k.home_team
    away_team = k.away_team
    if home_team not in teams:
        teams.append(home_team)
    if away_team not in teams:
        teams.append(away_team)
print(teams)

["Hawai'i", 'Vanderbilt', 'Tennessee', 'Ball State', 'Missouri', 'Louisiana Tech', 'Texas A&M', 'Sam Houston State', 'Arkansas', 'Cincinnati', 'Georgia', 'Oregon', 'Ole Miss', 'Troy', 'Auburn', 'Mercer', 'Florida', 'Utah', 'Elon', 'Kentucky', 'Miami (OH)', 'South Carolina', 'Georgia State', 'Alabama', 'Utah State', 'Mississippi State', 'Memphis', 'Florida State', 'LSU', 'Texas', 'Wake Forest', 'Kansas State', 'Pittsburgh', 'Appalachian State', 'Samford', 'Central Arkansas', 'Southern', 'San José State', 'Arizona', 'Youngstown State', 'Abilene Christian', 'Georgia Tech', 'Northern Illinois', 'Penn State', 'Louisiana Monroe', 'Missouri State', 'Akron', 'South Florida', 'Miami', 'Kent State', 'Bowling Green', 'Tulsa', 'Charlotte', 'New Mexico', 'South Carolina State', 'Eastern Washington', 'BYU', 'UT Martin', 'Liberty', 'East Tennessee State', 'Austin Peay', 'UMass', 'Western Kentucky', 'New Mexico State', 'UAB', 'Clemson', 'Louisville']

In [6]:
for team in teams:
    graph.add_node(team)
print("Nodes:", len(graph.nodes))

Nodes: 67

In [7]:
for k in games:
    if  k.home_points > k.away_points:
        winner = k.home_team
        loser = k.away_team
    else:
        winner = k.away_team
        loser = k.home_team
    graph.add_edge(winner, loser)

In [13]:
nx.ego_graph(graph,"Georgia",radius=4)
nx.write_graphml(graph, "sec_teams_2.graphml")